html, body{
    height: 100%;
    margin: 0;
    position: relative;
}

body{
    background: url(img/Солнце.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#game td {
	width: 20px;
	height: 20px;
	border: 1px solid rgb(255, 255, 255);
}

#game td.gamer1 {
	background: rgb(255, 0, 85);
}
#game td.gamer2 {
	background: rgb(0, 255, 234);
}
#game td.winner {
	border: 1px solid red;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
}

.img2{
    position: absolute;
    top: 90%;
    left: 80%;
}