body{
    background-image: url(img/fnaf1.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    position: fixed;
}

.newgame{
    margin: 568px 0px 0px 90px;
    width: 550px;
    height: 100px;
    z-index: 999;
    position: relative;
    cursor: pointer;
}

.newgame:hover{
    color: azure;
    font-size: 100px;
}

.newgame2{
    margin: 0px 7px 42px 70px;
    width: 550px;
    height: 100px;
    z-index: 999;
    position: relative;
    cursor: pointer;
}

.newgame2:hover{
    color: azure;
    font-size: 100px;
}