.footer{
    position: absolute;
    width: 1000px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
}

.pers{
    background-image: url(img/pers.png);
    width: 50px;
    height: 100px;
    top: 200px;
    position: relative;
    
}

@keyframes jump {
    0% {top: 150px; left: 10px;}
    30% {top: 100px; left: 30px;}
    70% {left: 50px;}
    100% {left: 70px;}
}

.animate {
    animation: jump 400ms linear;
}